{{ $isFeatured := .Scratch.Get "isFeatured" }}
<a href="{{ .RelPermalink }}" class="post-card {{ if $isFeatured }}featured{{ end }} post-panel">
    <div class="post-card-meta text-muted">
        <div class="meta-main">
            <span class="meta-day">{{ .Date.Format "02" }}</span>
            <span class="meta-month">{{ .Date.Format "JAN" }}</span>
        </div>
        <div class="meta-classification">{{ .Params.classification | default "UNCLASSIFIED" }}</div>
    </div>
    
    <div class="post-card-content">
        <h2 class="post-card-title">{{ .Title }}</h2>
        {{ if $isFeatured }}
        <p class="post-card-summary text-muted">{{ .Summary | plainify | truncate 150 }}</p>
        {{ end }}
    </div>
    
    <div class="post-card-action text-muted">
        <span class="meta-location">LOC: {{ .Params.location | default "SOL_SYSTEM" }}</span>
        <span class="cycle-text meta-access">{{ if $isFeatured }}[ PRIME_ACCESS ]{{ else }}[ ACCESS ]{{ end }}</span>
    </div>
</a>
